
/* Button Style */

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    border-radius: var(--border);
    transition: transform 300ms ease;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

/* Button Variants */

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--primary--outline {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.btn--warning--solid {
    background-color: var(--warning);
    color: var(--dark);
    border: none;
}

.btn--warning--outline {
    background-color: transparent;
    color: var(--dark);
    border: 2px solid var(--warning);
}

.btn--danger--solid {
    background-color: var(--danger);
    color: var(--white);
    border: none;
}

.btn--danger--outline {
    background-color: transparent;
    color: var(--danger);
    border: 2px solid var(--danger);
}

.btn--succes--solid {
    background-color: var(--succes);
    color: var(--white);
    border: none;
}

.btn--succes--outline {
    background-color: transparent;
    color: var(--succes);
    border: 2px solid var(--succes);
}

/* Button Sizes */

.btn--small {
    font-size: 1em;
    padding: 0.75rem 1.5rem;
}

.btn--medium {
    font-size: 1.25em;
    padding: 1rem 2rem;
}

.btn--large {
    font-size: 1.5em;
    padding: 1.25rem 2.5rem;
}

/* Button Stretched */

.btn--fit-content {
    width: fit-content;
}

.btn--stretched {
    width: 100%;
}