/* Button Style Variables */

:root {
    --primary: #4628ff;
    --warning: #ffd028;
    --danger: #eb3f27;
    --succes: #75fa83;
    --white: #fdfdfd;
    --dark: #181717;
    --border: 0.625em;
}

/* CSS Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* App Alignment */

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 1em;
}